<% provide(:title, "Home") %>

<h1>Ranch Resources</h1>
<p>
This is the home page for the Cowley Ranch Resources.
</p>

<%= link_to 'Bale Codes', bail_codes_path %>
<br>
<%= link_to 'Hay Types', hay_types_path %>
<br>
<%= link_to 'Cutting Codes', cutting_codes_path %>
<br>
<%= link_to 'Field Types', field_types_path %>
<br>
<%= link_to 'Field', fields_path %>
<br>
<br>
<%= link_to 'Field Arces', field_acres_path %>
<br>
<br>
<%= link_to 'Production', productions_path %>
<br>
<br>
<br>
<%= link_to 'About', static_pages_about_path %>
<br>
<%= link_to 'Help', static_pages_help_path %>