<p id="notice"><%= notice %></p>

<h1>Listing Productions</h1>

<table>
  <thead>
    <tr>
      <th>Bail code.description</th>
      <th>Cutting code.description</th>
      <th>Hay type.description</th>
      <th>Field.description</th>
      <th>Number of bales</th>
      <th>Production at</th> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productions.each do |production| %>
      <tr>
        <td><%= production.bail_code.description %></td>
        <td><%= production.cutting_code.description %></td>
        <td><%= production.hay_type.description %></td>
        <td><%= production.field.description %></td>
        <td><%= production.number_of_bales %></td>
        <td><%= production.production_at %></td> 
        <td><%= link_to 'Show', production %></td>
        <td><%= link_to 'Edit', edit_production_path(production) %></td>
        <td><%= link_to 'Destroy', production, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Production', new_production_path %>
<br>
<%= link_to 'Home', root_path %>